<div class="row justify-content-center">
  <div *ngFor="let image of images" class="col-md-5 mb-2 text-center img-container">
    <h4 *ngIf="loaded == true" class="white-text p-1 image-title rgba-stylish-strong">{{image.title}}</h4>
    <figure>
      <div *ngIf="loaded != true"  class="spinner">
        <mdb-spinner class="p-5" spinnerColor="blue"></mdb-spinner>
      </div>
      <div class="view overlay">
        <img src="{{image.img}}" (load)="loading($event)" class="img-fluid" alt="">
        <div class="mask flex-center haves-effect waves-light">
        </div>
      </div>
    </figure>
  </div>
</div>
