<!--Navbar-->
<!-- Main navigation -->
<header>
  <!--Navbar-->
  <mdb-side-nav #sidenav class="mdb-color darken-4" [fixed]="false">

    <mdb-navbar-brand>
      <li>
        
          <a href="#">
            <img  src="assets/grekoo.png" class="img-fluid pt-3 pr-3 flex-center ml-auto mr-auto">
          </a>
        
      </li>
      <!--/. Logo -->
    </mdb-navbar-brand>

    <links>
      <!--Social-->
      <li>
        <ul class="social">
          <li>
            <a  href="https://www.facebook.com/GrekooStudio/" target="_blank" class="icons-sm fb-ic">
              <mdb-icon fab icon="facebook-f"> </mdb-icon>
            </a>
          </li>
          <li>
            <a href="https://www.instagram.com/grekoo.nic/?hl=es-la"  target="_blank" class="icons-sm pin-ic">
              <mdb-icon fab icon="instagram"> </mdb-icon>
            </a>
          </li>
        </ul>
      </li>
      <!--/Social-->
      <!--Search Form-->
      <li>
      </li>
      <!--/.Search Form-->
      <!-- Side navigation links -->
      <li>
        <ul class="collapsible collapsible-accordion">
          <mdb-accordion [multiple]="false" aria-multiselectable="false">

            <!-- Simple link -->
            <mdb-accordion-item href="#nosotros" class="no-collase">
              <mdb-accordion-item-head mdbWavesEffect>
                <a href="#nosotros">Sobre Nosotros</a>
              </mdb-accordion-item-head>
              <mdb-accordion-item-body></mdb-accordion-item-body>
            </mdb-accordion-item>

            <!-- Simple link -->
            <mdb-accordion-item class="no-collase">
              <mdb-accordion-item-head mdbWavesEffect>
                <a href="#servicios">Servicios</a>
              </mdb-accordion-item-head>
              <mdb-accordion-item-body></mdb-accordion-item-body>
            </mdb-accordion-item>

            <mdb-accordion-item class="no-collase">
              <mdb-accordion-item-head mdbWavesEffect>
                <a href="#productos">Productos</a>
              </mdb-accordion-item-head>
              <mdb-accordion-item-body></mdb-accordion-item-body>
            </mdb-accordion-item>

          </mdb-accordion>
        </ul>
      </li>
      <!--/. Side navigation links -->
    </links>
    <div class="sidenav-bg mask-strong"></div>
  </mdb-side-nav>
  <!--/. Sidebar navigation -->

   <mdb-navbar SideClass="navbar fixed-top navbar-toggleable-md navbar-expand-lg scrolling-navbar double-nav"
              [containerInside]="false">

    <navlinks class="clearfix d-inline-block d-sm-none navbar-container">
        <!-- SideNav slide-out button -->
        <div class="">
          <a  (click)="sidenav.show()" class="button-collapse hidden-nav-button-collapse white-color">
            <mdb-icon fas class="white-text" icon="bars"></mdb-icon>
          </a>
        </div>
        <!--/. SideNav slide-out button -->
      </navlinks>

    <mdb-navbar-brand>
      <a class="navbar-brand" href="#nosotros">
        <img src="assets/grekoo.png" width="35" height="35" alt="" />
       <span class="pl-1">Grekoo</span></a>
      </mdb-navbar-brand>

    <navlinks>
      <ul class="nav navbar-nav nav-flex-icons  ie-double-nav ie-hidden-double-nav">
        <li class="nav-item">
          <a href="#nosotros" class="nav-link waves-light" mdbWavesEffect
            ><span class="clearfix d-none d-sm-inline-block">Sobre Nosotros</span></a
          >
        </li>
        <li class="nav-item">
          <a href="#servicios" class="nav-link waves-light" mdbWavesEffect
            ><span class="clearfix d-none d-sm-inline-block">Servicios</span></a
          >
        </li>
        <li class="nav-item">
          <a href="#productos" class="nav-link waves-light" mdbWavesEffect>
              <span class="clearfix d-none d-sm-inline-block">Productos</span>
          </a>
        </li>
        <li class="nav-item ml-auto d-none d-sm-inline-block">
          <a
            href="https://www.facebook.com/GrekooStudio/"
            class="nav-link"
            target="_blank">
            <mdb-icon fab icon="facebook" size="lg"></mdb-icon>
          </a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
          <a
            href="https://www.instagram.com/grekoo.nic/?hl=es-la"
            class="nav-link"
            target="_blank"
            >
            <mdb-icon fab icon="instagram" size="lg"></mdb-icon>
          </a>
        </li>
      </ul>
    </navlinks>
      
  </mdb-navbar>
  <!-- Navbar -->
  <!-- Full Page Intro -->
  <div
    class="view"
    id="nosotros"
    style="background-image: url('assets/banner.png'); background-repeat: no-repeat; background-size: cover; background-position: center center;"
  >
    <!-- Mask & flexbox options-->
    <div class="mask d-flex justify-content-center align-items-center">
      <!-- Content -->
      <div class="container">
        <!--Grid row-->
        <div class="row pt-xs-1 pt-lg-5 mt-lg-5">
          <!--Grid column-->
          <div
            class="col-md-12 mb-5 mt-md-0 mt-5 text-center white-text animated fadeIn"
            data-wow-delay="0.3s"
          >
            <h1 class="animated fadeInmb-4 lato-text">
              Somos un grupo de jóvenes emprendedores que busca darle vida a tus
              ideas
            </h1>
            <hr class="hr-light" />
            <h5 class="mb-3">Te ofrecemos todo en le rubro de la publicidad</h5>
            <a
              mdbBtn
              href="https://wa.me/50582878673"
              color="white"
              outline="true"
              target="_blank"
              mdbWavesEffect
              ><mdb-icon fab icon="whatsapp" class="pr-1" size="lg"></mdb-icon>
              Escríbenos</a
            >
            <a
              mdbBtn
              href="tel:+505-8287-8673"
              color="white"
              outline="true"
              target="_blank"
              mdbWavesEffect
              ><mdb-icon fas icon="phone" class="pr-1" size="lg"></mdb-icon>
              Llamar</a
            >
          </div>
          <!--Grid column-->
          <!--Grid column-->

          <!--Grid column-->
        </div>
        <!--Grid row-->
      </div>
      <!-- Content -->
    </div>
    <!-- Mask & flexbox options-->
  </div>
  <!-- Full Page Intro -->
</header>
<!-- Main navigation -->

<!--SERVICES SECTION-->
<section>
  <div id="servicios">
    <div class="container mb-5">
      <div class="flex-center flex-column  text-center mt-5">
        <h1 class="animated fadeIn mb-4  wow fadeInDown title-service">
          Servicios
        </h1>
        <h5 class="animated fadeIn mb-3 wow fadeInDown text-service">
          Servicio de calidad garantizado 
        </h5>
      </div>
      <hr />

      <div class="row justify-content-between">
        <div class="mb-2 service-col col-6 col-xs-6 col-sm-6 col-md-6 col-lg-3">
          <mdb-card class="service-card wow fadeIn" data-wow-delay="0.1s">
            <!--Card image-->
            <mdb-card-img
              class="p-2"
              src="assets/diseno.png"
              alt="Card image cap"
            ></mdb-card-img>
            <!--Card content-->
            <mdb-card-body class="text-center">
              <!--Title-->
              <mdb-card-title>
                <h4 class="service-title">Diseño</h4>
              </mdb-card-title>

              <!--Text-->
            </mdb-card-body>
          </mdb-card>
        </div>
        <div class="mb-2 service-col col-6 col-xs-6 col-sm-6 col-md-6 col-lg-3">
          <mdb-card class="service-card wow fadeIn" data-wow-delay="0.2s">
            <!--Card image-->
            <mdb-card-img
              class="p-2"
              src="assets/serigrafia.png"
              alt="Card image cap"
            ></mdb-card-img>
            <!--Card content-->
            <mdb-card-body class="text-center">
              <!--Title-->
              <mdb-card-title>
                <h4 class="service-title">Serigrafía</h4>
              </mdb-card-title>

              <!--Text-->
            </mdb-card-body>
          </mdb-card>
        </div>
        <div  class="mb-2 service-col col-6 col-xs-6 col-sm-6 col-md-6 col-lg-3">
          <a  [routerLink]="['/sublimacion']" (click)="goProducts();">
          <mdb-card class="service-card wow fadeIn" data-wow-delay="0.3s">
            <!--Card image-->
            <mdb-card-img
            class="p-2"
            src="assets/sublimacion.png"
            alt="Card image cap"
          ></mdb-card-img>
            <!--Card content-->
            <mdb-card-body class="text-center">
              <!--Title-->
              <mdb-card-title>
                <h4 class="service-title">Sublimación</h4>
              </mdb-card-title>

              <!--Text-->
            </mdb-card-body>
          </mdb-card>
          </a>
        </div>
        <div class="mb-2 service-col col-6 col-xs-6 col-sm-6 col-md-6 col-lg-3">
          <mdb-card class="service-card wow fadeIn" data-wow-delay="0.4s">
            <!--Card image-->
            <mdb-card-img
              class="p-2"
              src="assets/bordado.png"
              alt="Card image cap"
            ></mdb-card-img>
            <!--Card content-->
            <mdb-card-body class="text-center">
              <!--Title-->
              <mdb-card-title>
                <h4 class="service-title">Bordado</h4>
              </mdb-card-title>

              <!--Text-->
            </mdb-card-body>
          </mdb-card>
        </div>
      </div>
    </div>
  </div>
</section>
<!--END SERVICES SECTION-->

<!--PRODUCT SECTION-->
<main>
  <section>
    <div id="productos">
      <div class="container mb-5">
        <div class="flex-center flex-column  text-center mt-5">
          <h1 class="animated fadeIn mb-4  wow fadeInDown title-service">
            Productos
          </h1>
          <h5 class="animated fadeIn mb-3 wow fadeInDown text-service">
            <span class="deep-orange-text">Se</span> la diferencia con productos
            auténticos como <span class="deep-orange-text">tu</span>
          </h5>
        </div>
        <hr />
  
        <ul class="nav justify-content-center py-4">
          <li routerLinkActive="active" id="sublimacion" class="nav-item" [routerLink]="['/sublimacion']">
              <a class="nav-link grey-text" href="#" (click)="noReload();">Sublimación</a>
          </li>
          <li routerLinkActive="active" class="nav-item" [routerLink]="['/impresion']">
              <a class="nav-link grey-text" href="#" (click)="noReload();">Impresión</a>
          </li>
        </ul>
  
        <router-outlet></router-outlet>
  
      </div>
    </div>
  </section>
</main>

<!-- Footer -->
<footer class="page-footer font-small footer-bkcolor">
  <!-- Footer Elements -->
  <div class="container">
    <!-- Grid row-->
    <div class="row justify-content-center">
      <div class="col-12 col-md-4 mt-5">
        <img src="assets/greeko-light.png" class="img-fluid" alt="">
      </div>
    </div>
    <div class="row">
      <!-- Grid column -->
      <div class="col-md-12 py-5">
        <div class="mb-5 flex-center">
          <!-- Facebook -->
          <a href="https://wa.me/50582878673" class="fb-ic mr-5">
            <mdb-icon fab icon="whatsapp" size="2x" class="white-text mr-md-2 mr-2"></mdb-icon><span class="white-text">(+505)8287-8673</span>
          </a>
          <!--Instagram-->
          <a href="mailto:grekooventas@gmal.com" class="ins-ic">
            <mdb-icon fas icon="envelope" size="2x" class="white-text mr-md-2 mr-2"></mdb-icon><span class="white-text">grekooventas@gmail.com</span>
          </a>
          <!--
  
          <a class="tw-ic">
              <mdb-icon fab icon="twitter" size="2x" class="white-text mr-md-5 mr-3"></mdb-icon>
          </a>

          <a class="gplus-ic">
              <mdb-icon fab fab icon="google-plus" size="2x" class="white-text mr-md-5 mr-3"></mdb-icon>
          </a>
    
          <a class="li-ic">
              <mdb-icon fab icon="linkedin" size="2x" class="white-text mr-md-5 mr-3"></mdb-icon>
          </a>
        
          <a class="pin-ic">
              <mdb-icon fab icon="pinterest" size="2x" class="white-text mr-md-5 mr-3"></mdb-icon>
          </a>
        --></div>
      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row-->
  </div>
  <!-- Footer Elements -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">
    © 2019 Copyright:
    <a href="https://grekoostudio.com">GrekooStudio.com</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
