/* Required for full background image */

html,
body,
header,
.view {
  min-height: 100vh;
}

@media (max-width: 576px) {
  html,
  body,
  header,
  .view {
    height: auto;
  }
}

@media (max-width: 740px) {
  html,
  body,
  header,
  .view {
    height: auto;
  }

 
    .service-col{
      padding-left: 0;
      padding-right: 0;
    }
  
}
@media (min-width: 800px) and (max-width: 850px) {
  html,
  body,
  header,
  .view {
    height: 600px;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .service-card {
    margin-left: 25px;
    width: 280px;
  }
}

.btn .fa {
  margin-left: 3px;
}

.top-nav-collapse {
  background-color: #090c19 !important;
}

.navbar:not(.top-nav-collapse) {
  background: transparent !important;
}

@media (max-width: 991px) {
  .navbar:not(.top-nav-collapse) {
    background: #090c19 !important;
  }
}

.title-service {
  font-size: 50px;
  font-family: "Alatsi", sans-serif;
}
.text-service {
  font-size: 38px;
  font-family: "Alatsi", sans-serif;
}

//SERVICIOS Styles

.img-container {
  width: 50px;
  height: 50px;
}

.service-title {
  color: #000850;
}

.service-card {
  box-shadow: none;
  border-radius: 2px !important;
  border: 1px solid #ced3d8;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.service-card:hover {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

//PRODUCT STYLES

.product-cards{
  box-shadow: none;
}

.altura .img-fluid {
  height: 349.33px;
}

.navbar-container{
  order: 4;
}

a:hover{
  color: #BA4A00;
}

