<div class="row justify-content-center">
    <figure *ngFor="let image of images" class="col-md-6 mb-2 text-center">
      <div *ngIf="loaded != true"  class="spinner">
        <mdb-spinner class="p-5" spinnerColor="blue"></mdb-spinner>
      </div>
      <div class="view overlay">
        <img src="{{image.img}}" (load)="loading($event)" class="img-fluid" alt="">
        <div class="mask flex-center haves-effect waves-light">
          <h4 class="white-text p-1 rgba-stylish-strong">{{image.title}}</h4>
        </div>
      </div>
    </figure>
</div>
