<div class="row justify-content-center">
  <figure class="col-md-4 mb-2 img-product">
    <div class="view overlay zoom">
      <img src="assets/sublimacion/1.png"alt="">
      <div class="mask flex-center haves-effect waves-light">
        <p class="white-text p-1 rgba-stylish-strong">Bolso estilo mochila</p>
      </div>
    </div>
  </figure>
  <figure class="col-md-4 mb-2 img-product">
    <div class="view overlay zoom">
      <img src="assets/sublimacion/8.png" alt="">
      <div class="mask flex-center haves-effect waves-light">
        <p class="white-text p-1 rgba-stylish-strong">Lapiceros sublimados</p>
      </div>
    </div>
  </figure>
  <figure class="col-md-4 mb-2 img-product">
    <div class="view overlay zoom">
      <img src="assets/sublimacion/3.png" alt="">
      <div class="mask flex-center haves-effect waves-light">
        <p class="white-text p-1 rgba-stylish-strong">Botella con carabina</p>
      </div>
    </div>
  </figure>
  <figure class="col-md-4 mb-2 img-product">
      <div class="view overlay zoom">
        <img src="assets/sublimacion/4.png" alt="">
        <div class="mask flex-center haves-effect waves-light">
          <p class="white-text p-1 rgba-stylish-strong">Camiseta tipo raglan</p>
        </div>
      </div>
  </figure>
  <figure class="col-md-4 mb-2 img-product">
    <div class="view overlay zoom">
      <img src="assets/sublimacion/5.png" alt="">
      <div class="mask flex-center haves-effect waves-light">
        <p class="white-text p-1 rgba-stylish-strong">Camisas blancas sublimadas</p>
      </div>
    </div>
  </figure>
  <figure class="col-md-4 mb-2 img-product">
      <div class="view overlay zoom">
        <img src="assets/sublimacion/19.png" alt="">
        <div class="mask flex-center haves-effect waves-light">
          <p class="white-text p-1 rgba-stylish-strong">Mouse Pad</p>
        </div>
      </div>
  </figure>
  <figure class="col-md-4 mb-2 img-product">
    <div class="view overlay zoom">
      <img src="assets/sublimacion/7.png" alt="">
      <div class="mask flex-center haves-effect waves-light">
        <p class="white-text p-1 rgba-stylish-strong">Gorras sublimadas </p>
      </div>
    </div>
  </figure>
  <figure class="col-md-4 mb-2 img-product">
      <div class="view overlay zoom">
        <img src="assets/sublimacion/2.png" alt="">
        <div class="mask flex-center haves-effect waves-light">
          <p class="white-text p-1 rgba-stylish-strong">Bolsos</p>
        </div>
      </div>
  </figure>
  <figure class="col-md-4 mb-2 img-product">
    <div class="view overlay zoom">
      <img src="assets/sublimacion/9.png" alt="">
      <div class="mask flex-center haves-effect waves-light">
        <p class="white-text p-1 rgba-stylish-strong">Mameluco sublimados</p>
      </div>
    </div>
  </figure>
  <figure class="col-md-4 mb-2 img-product">
    <div class="view overlay zoom">
      <img src="assets/sublimacion/10.png" alt="">
      <div class="mask flex-center haves-effect waves-light">
        <p class="white-text p-1 rgba-stylish-strong">Pachon Sublimado</p>
      </div>
    </div>
  </figure>
  <figure class="col-md-4 mb-2 img-product">
    <div class="view overlay zoom">
      <img src="assets/sublimacion/11.png" alt="">
      <div class="mask flex-center haves-effect waves-light">
        <p class="white-text p-1 rgba-stylish-strong">Puzzle Sublimado</p>
      </div>
    </div>
  </figure>
  <figure class="col-md-4 mb-2 img-product">
    <div class="view overlay zoom">
      <img src="assets/sublimacion/6.png" alt="">
      <div class="mask flex-center haves-effect waves-light">
        <p class="white-text p-1 rgba-stylish-strong">Cojines Sublimados</p>
      </div>
    </div>
  </figure>
  <figure class="col-md-4 mb-2 img-product">
    <div class="view overlay zoom">
      <img src="assets/sublimacion/13.png" alt="">
      <div class="mask flex-center haves-effect waves-light">
        <p class="white-text p-1 rgba-stylish-strong">Tazas blancas</p>
      </div>
    </div>
  </figure>
  <figure class="col-md-4 mb-2 img-product">
    <div class="view overlay zoom">
      <img src="assets/sublimacion/14.png" alt="">
      <div class="mask flex-center haves-effect waves-light">
        <p class="white-text p-1 rgba-stylish-strong">Tazas con cucharas</p>
      </div>
    </div>
  </figure>
  <figure class="col-md-4 mb-2 img-product">
    <div class="view overlay zoom">
      <img src="assets/sublimacion/15.png" alt="">
      <div class="mask flex-center haves-effect waves-light">
        <p class="white-text p-1 rgba-stylish-strong">Tazas de color</p>
      </div>
    </div>
  </figure>
  <figure class="col-md-4 mb-2 img-product">
    <div class="view overlay zoom">
      <img src="assets/sublimacion/16.png" alt="">
      <div class="mask flex-center haves-effect waves-light">
        <p class="white-text p-1 rgba-stylish-strong">Termo 500 ML doble capa</p>
      </div>
    </div>
  </figure>
  <figure class="col-md-4 mb-2 img-product">
    <div class="view overlay zoom">
      <img src="assets/sublimacion/17.png" alt="">
      <div class="mask flex-center haves-effect waves-light">
        <p class="white-text p-1 rgba-stylish-strong">Termo Sport</p>
      </div>
    </div>
  </figure>
  <figure class="col-md-4 mb-2 img-product">
    <div class="view overlay zoom">
      <img src="assets/sublimacion/17.png" alt="">
      <div class="mask flex-center haves-effect waves-light">
        <p class="white-text p-1 rgba-stylish-strong">Termo Viajero</p>
      </div>
    </div>
  </figure>
  <figure class="col-md-4 mb-2 img-product">
    <div class="view overlay zoom">
      <img src="assets/sublimacion/12.png" alt="">
      <div class="mask flex-center haves-effect waves-light">
        <p class="white-text p-1 rgba-stylish-strong">Taza de cerveza transparente</p>
      </div>
    </div>
  </figure>
</div>