/* You can add global styles to this file, and also import other style files */
.card-intro {
  border-radius: 0 !important;
}

.lato-text {
  font-family: "Lato", sans-serif;
}

.top-nav-collapse {
  background-color: #090c19 !important;
}

.footer-bkcolor {
  background-color: #090c19;
}
