/* You can add global styles to this file, and also import other style files */
.card-intro {
  border-radius: 0 !important;
}


.top-nav-collapse {
  background-color: #090c19 !important;
}

.footer-bkcolor {
  background-color: #090c19;
}

.lato-text{
  font-family: 'Oswald', sans-serif;
}

.sub-title{
  font-family: 'Oswald', sans-serif;
}

@media (min-width: 991px) {
  .lato-text {
    // font-family: "Lato", sans-serif;
    font-size: 65px;
   }
   
   .sub-title{
     font-size: 35px;
   }

  .icon-size{
    position: relative;
    font-size: 1.2rem !important;
  }
  
  .bottom-size{
    font-size: 1.2rem !important;
  }
}

@media (max-width: 768px){
  .lato-text {
    // font-family: "Lato", sans-serif;
    font-family: 'Oswald', sans-serif;
    font-size: 32px;
   }
   
   .sub-title{
     font-family: 'Oswald', sans-serif;
     font-size: 25px;
   }
}
